body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.profile-pic {
    width: 220px;          /* BIG size */
    height: 220px;
    border-radius: 50%;    /* Round shape */
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}


/* Card Section */
.card {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h2 {
    color: #2c3e50;
}

/* Skills */
.skills {
    list-style-type: none;
    padding: 0;
}

.skills li {
    background-color: #3498db;
    color: white;
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
